<h3>3. Custom tool tip directive</h3>

<div
  class="hostDiv"
  appTooltip
  [tooltipText]="tooltipText"
  [position]="position"
  [fontColor]="fontColor"
  [fontSize]="fontSize"
>
  This is custom tool...
</div>
<div class="controller">
  <div>
    <label for="position">Position:</label>
    <select id="position" [(ngModel)]="position">
      <option value="left">Left</option>
      <option value="right">Right</option>
      <option value="top">Top</option>
      <option value="bottom">Bottom</option>
    </select>
  </div>
  <div>
    <label for="fontColor">Font Color:</label>
    <input type="color" id="fontColor" [(ngModel)]="fontColor" />
  </div>
  <div>
    <label for="fontSize">Font Size:</label>
    <select id="fontSize" [(ngModel)]="fontSize">
      <option value="12px">12</option>
      <option value="14px">14</option>
      <option value="16px">16</option>
      <option value="20px">20</option>
      <option value="24px">24</option>
      <option value="28px">28</option>
      <option value="36px">36</option>
    </select>
  </div>
</div>
